In [11]:
from bs4 import BeautifulSoup
import requests

In [13]:
link_url=requests.get('https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue')

In [15]:
table_content=BeautifulSoup(link_url.text,'html')

In [16]:
header_row=table_content.find_all('tr')[0]
#print(header_row)
head=header_row.find_all('th')
#print(head)

In [19]:
import pandas as pd

In [21]:
headers= [x.text.strip() for x in head]

In [23]:
#print(headers)
df=pd.DataFrame(columns=headers)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [25]:
rows=table_content.find_all('table')[0]
rows_data=rows.find_all('tr')
#print(rows_data)

In [27]:
for x in rows_data[1:]:
    data_each= x.find_all('td')
    data_item=[i.text.strip() for i in data_each]
    length=len(df)
    df.loc[length]=data_item
    #print(data_item)

df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [35]:
df.to_csv(r'C:\Users\prach\Downloads\Data\Companies.csv',index=False)